#footerbar {
  background: linear-gradient(#243b55,#141e30);
  color: rgb(13, 26, 38);
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.footer-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}
