main {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "description game"
    "description game";
  grid-area: 2 / 1 / 3 / 2;
  align-items: start;
}
.description {
  grid-area: description;
}
.game {
  grid-area: game;
}

@media (max-width: 768px) {
  main {
    grid-template-areas:
      "description description"
      "game game";
  }
}

// GAME FUNCTION
#codeArea {
  width: 400px;
  height: 83%;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(#000, 0.14), 0 1px 5px 0 rgba(#000, 0.12),
    0 3px 1px -2px rgba(#000, 0.2);
  .codeflask {
    width: 400px;
    height: 83%;
    border-radius: 3px;
  }
  &::before,
  .codeflask__lines {
    background: #fff;
  }
  .codeflask__textarea {
  }
}
